@media(max-width:992px){
    #for{
        width: 40%;
    }
    #home .col-md-3 {
        margin-left: 40px;
    }
    #home #inner::before {
        margin-left: 100px;
    }
   #header-sub ul{
       position: absolute;
       background-color: yellowgreen;
       width: 80%;
       /* display: flex; */
       z-index: 10;
   }
   #header-sub ul li a{
       padding-left: 10px;
       
   }
   #header-sub #search input{
       display: none;
   }
   #header-sub #search button{
       display: none;
   }

}
@media(max-width:768px){
    #for{
        width: 50%;
    }
   #umair #king1 #btn-main .btn{
        display: none;
    }
    #side-1 select{
        margin-bottom:20px;
    }
    #home .col-md-3{
        width: 70%;
        margin-top: 40px;
        margin: 20px auto;
    }
    #students-results {
       
        width: 80%;
        margin: 20px auto;
        background-color: #e3e3e3;
        border-radius: 10px;
    }
    #student-id {
       margin: 20px auto;
        width: 80%;
        background-color: #e3e3e3;
        border-radius: 10px;
    }
    #students{
        margin-top: 20px;
        margin-left: 40px;
    }
    #new-admission .col-md-4{
        width:80%;
        margin: 20px auto;
    }
    #btn-main{
        display: none;
    }
}
@media(max-width:576px){
    #for{
        margin-top: 100px;
        width: 90%;
    }
    #for #submit{
        width: 40%;
    }
    #home .col-md-3{
        width:80%;
    }
    #header-btn .col-md-2{
        padding: 10px;
        width: 100%;
    }
    #header-btn .col-md-2 select{
        margin: 20px auto;
        margin-left: 0px;
        width: 90%;
    }
    #home #inner::before {
        margin-left: 170px;
    }
    #header-sub a{
        margin-left: 20px;
        color: white;
    }
}